/* Vores root variables.  */

:root {
--beige: #F6EDDB;
--black: #2E2E2E;
--green: #32623F;
--red: #89081E;
--h1: 2rem;
--desktop: 50%;
}

html {
  scroll-behavior: smooth;
}

/* Reset global */
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "zenon", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
body{
    background-color: var(--beige);
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navigations css */
.hamburger-icon {
    display: none;
}  
.mobile-nav {
  position:sticky;
  top:0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--black);
}
.logo img {
  filter: invert(97%) sepia(41%) saturate(362%) hue-rotate(313deg) brightness(100%) contrast(94%);
  height: 100px;
  
}

.hamburger-icon{
  border:none;
  background-color:transparent;
}

.hamburger-icon .fa-bars,
.hamburger-icon .fa-x{
  color: var(--beige);
  font-size:1rem;
  cursor:pointer;
}
.hamburger-icon .fa-x {
  display: none;
}

.hamburger-icon input[type="checkbox"] {
  appearance: none;
}

.navigation {
  display: flex;
  gap: 1rem;
}
.navigation a{
  color: var(--beige);
}
.desktop-nav {
  position: sticky;
  top:0;
  left:0;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--black);
}
.desktop-nav ul{
  display: flex;
  gap: 4.5rem; 
}
.desktop-nav ul li a {
  color: var(--beige);
  font-size: 1.2rem;
  /* letter-spacing: 0.3rem; */
  padding: 10px;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  top: 30px;
  left: -20px;
  width: 300px;
  background-color: var(--black);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-nav .dropdown .dropdown-content li a {
  font-size: 16px;
  
}
.desktop-nav .dropdown .dropdown-content{
  display: none;

}
.desktop-nav .dropdown:hover .dropdown-content {
  display: block;
}

.right-links {
  width:22%;
}
  
/* Styling af main page */
.front-image{
  width: 100%;
  height: 300px;
  background-image: url(/media/breakingpool.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  z-index: 1;
}
.front-image h1{
  background-color: rgba(0, 0, 0, 0.6);
  height: auto;
  width: auto;
  padding: 0.25rem;
}
.intro-tekst-mobile{
  margin: auto;
  max-width: 25rem;
}
.intro-tekst-desktop{
    display: none;
}
.pool-turnering{
    text-transform: uppercase;
    text-align: center;
    background-color: var(--green);
    color: white;
}
.pool-turnering-tekst{
  letter-spacing: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.pool-turnering-dato{
  letter-spacing: 0.25rem;
}
.background-checkered-top{
  width: 100%;
  height: 50px;
  background-image: url(/media/checkered-texture.svg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: 300%;
}
.background-checkered-bottom{
  width: 100%;
  height: 50px;
  background-image: url(/media/checkered-texture.svg);
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: 300%;
}
.checkered{
  height: 50px;
  object-fit: contain;

}
.ball-event{
  height: 100px;
}
.events{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.events div{
background-color: var(--black);
color: white;
width: 12.5rem;
height: 10rem;
text-align: center;
}
.event-title{
  font-weight: bolder;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* styling af Aktiviteter */
.aktiviteter {
    width: 100%;
    display: grid;
    justify-content: center;
}

h2{
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.aktitiviter .aktivitet-list{
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
    
}
.aktivitet-list div{
    display: flex;
    justify-content: center;
}
.aktivitet-list img{
 height: 30px;
 padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.aktivitet-list h4{
  letter-spacing: 0.1rem;
}
.aktiviteter-mobile{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
}
.aktiviteter-desktop{
  display: none;
}
.aktiviteter-mobile{
  max-width: 25rem;
}
/* Styling af Booking system til aktiviteter */
.book-aktivitet {
    background-color: var(--red);
    color: var(--beige);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
    
}
.book-aktivitet p{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
  max-width: 25rem;
}
.aktivitet-booking-img{
  display: flex;
  justify-content: center;
}
.aktivitet-booking{
  width: 80%;
}
.book-bord-margin{

}
/* styling a Diner sektionen */
.diner {
    background-color: var(--beige);
    width: 100%;
    height: 840px;

  
}
.diner-tekst-mobile{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
  max-width: 25rem;
  
}
  .diner-tekst-desktop{
    display: none;
  }
  .month {
    padding: 50px 25px 10px 25px;
    width: 100%;
    text-align: center;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 0 0;
    background: #eee;
    margin: 0
    
  
  }

  .days li {
    list-style-type: none;
    display:inline-block;
    width: 13.6%;
    font-size:12px;
    color: #777;
    border:1px solid;
    padding: 15px 15px;
    text-align: center;

  }
  

 
  
.book-bord {
  border-radius: 30px;
  width: 120px;
  margin-top: 6px;
  margin-bottom: 2px;
  color: grey;
  background: white;
 
}
.book-bord-button{
  display: grid;
  justify-items: center;
}


/* Styling af Diner menu sektionen */
.diner-menu {
    background-image: url(/media/sharks-menukort.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 845px;
    margin: 0 auto;
    width: 100%;
    
}
/* Styling af Drinks kort sektionen */
.drinks-kort {
    background-image: url(/media/sharks-barkort.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 845px;
    margin: 0 auto;
    width: 100%;
}
/* Styling af Om os */
.since-1993background{
  background-color: var(--green);
  width: 70%;
  margin: 0 auto;
}
.since{
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: var(--beige);  
}
.year-1993{
  font-size: 5rem;
  font-weight: bold;
  color: var(--beige);
  margin-bottom: 1rem;
}
.since-1993 {
  display: grid;
  width: 100%;
  height: auto;
  justify-content: center;
  grid-template-columns: 10.5rem 60px 10.5rem;
  grid-template-rows: repeat(9, 10.5rem);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  }
  .since-1993 h2{
    display: grid;
    justify-content: center;
    text-align: center;

  }
  .since-tekst {
    color: var(--beige);
  }
  .since-tekst:nth-child(odd) {
    text-align: right;
  }

  
  .poolstang {
    grid-area: 1 / 2 / 9 / 3; }
  .since-tekst1 {
    grid-area: 1 / 1 / 2 / 2; }
  .since-tekst2 {
    grid-area: 2 / 3 / 3 / 4; }
  .since-tekst3 {
    grid-area: 3 / 1 / 4 / 2; }
  .since-tekst4 {
    grid-area: 4 / 3 / 5 / 4; }
  .since-tekst5 {
    grid-area: 5 / 1 / 6 / 2; }
  .since-tekst6 {
    grid-area: 6 / 3 / 7 / 4; }
  .since-tekst7 {
    grid-area: 7 / 1 / 8 / 2; }
  .since-tekst8 {
    grid-area: 8 / 3 / 9 / 4; }



/* Styling af Kontakt formularen */
.kontakt {
    
    background-color: var(--beige);
    width: 100%;
    height: 24rem;
}
    form{
      max-width: 25rem;
      margin: auto;
      
  }

  label {
      display: block;
      margin-bottom: 8px;
  }

  input, textarea {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      margin-top: 0.5rem;
  }

  form input[type="submit"] {
      background-color: white;
      color: grey;
      border-radius: 30px;
      width: 120px;
      margin-top: 6px;
      margin-bottom: 2px;
      cursor: pointer;
      
  }

  form input[type="submit"]:hover {
      background-color: green;
  }
  .kontaktlabel {
    display: flex; justify-content: space-between; margin-bottom: 16px
  }
 .kontaktstørrelse{
  width: 48%;
 }
.kontaktstørrelse-top{
  margin-top: 2rem;
}

/* Styling af footer */

footer {
    background-color: var(--black);
    width: 100%;
    bottom: 0;
}
.footer, .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--beige);
}

.social a{
    font-size: 22px;
    color: inherit;
    border: 1px solid var(--beige);
    width: 2.5rem;
    height: 2.5rem;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    margin-top: 1.5rem
}
.social a:hover{
opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li{
display: inline-block;
padding: 0 0.938rem;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li a:hover {
opacity: 1;
}
.footer, .copyright{
    text-align: center;
    font-size: 0.813rem;
    color: var(--beige);
    
}
 /* back to top button */
      
#myBtn {
  position: fixed;
  bottom: 20px;
  left: 85%;
  max-width: 40px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: var(--black);
  border-radius: 50%;
}
#myBtn a{
  color: white;
}

/* Mobile query */

@media screen and (max-width: 480px) {
      .desktop-nav {
        display: none;
      }
      .since-1993background{
        width: 100%;
      }
     
  
      .mobile-nav {
        display: block;
      }
      .navigation {
        height:0;
        overflow:hidden;
        flex-direction: column;
        align-items: center;
        transition:all 0.5s ease-in-out;
      }
      .logo {
        display: flex;
        justify-content: space-evenly;
      }
      .logo img {
        height: 50px;
      }
      .hamburger-icon {
        display: block;
        align-items: center;
        position: absolute;
        top: 1.5rem;
        left: 1.25rem;
      }
      .fa-x{
        display:none;
      }
      header:has(.hamburger-icon input[type="checkbox"]:checked) .navigation {
        margin-top: 1rem;
        height:230px;
      }
      header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-bars {
        display:none;
      }
      header:has(.hamburger-icon input[type="checkbox"]:checked) .fa-x {
        display:inline-block;
      }
      

      /* aktiviteter tekst */
     
     

}
 

 

/* Tablet query */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .mobile-nav {
    display: none;
  }  
  .desktop-nav ul li a {
    color: var(--);
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    padding: 10px;
  }
  .weekdays li, .days li {
    width: 13.1%;
  }
        
}

/* Desktop query */
@media screen and (min-width: 1025px) {
   
  .aktiviteter-mobile{
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .weekdays li, .days li {
    width: 13.1%;
}
  /* .kontakt {
    width: var(--desktop);
  } */
  /* .diner {
    width: var(--desktop);
  } */
  .book-aktivitet {
    width: var(--desktop);
  }
  /* .drinks-kort {
    width: var(--desktop);
  } */
}

  